
body {
    font-family: 'Hedvig Letters Serif', serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.centered-content {
    max-width: 800px; 
    margin: 0 auto; 
    text-align: left; 
    padding: 10px 0;
}


header {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 0;
}

header h1 {
    font-size: 1.1em; 
}


nav {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
}

nav a:hover {
    color: #555;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

main div {
    width: 100%;
}

main img {
    max-width: 90%; /* Adjust image size */
    height: auto;
    margin: 20px auto;
    border: 1px solid #ddd;
}


footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
}


@media (max-width: 600px) {
    header, main, footer {
        width: 95%;
        padding: 10px;
    }

    nav {
        flex-direction: column;
        align-items: left;
    }

    nav a {
        margin: 5px 0; 
    }

    main img {
        max-width: 70%;
    }
}


#photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photo-collection {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.photo-collection img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.photo-collection p {
    font-size: 1em;
    margin-top: 8px;
}

.photo-collection a {
    color: black; 
    text-decoration: none; 
}

.photo-collection a:hover {
    text-decoration: underline; 
}

 #photo-display {
    margin: 20px auto;
    width: fit-content; /* Adjust this as needed */
}

.photo-display img {
    width: auto; /* Width will be proportional to the height */
    max-width: 80%; /* Adjust this value as needed */
    max-height: 550px; /* Adjust this value as needed */
    height: auto; /* Height will scale proportionally */
    border-radius: 8px;
}


#photo-display p {
    text-align: left;
}

#navigation {
    text-align: center;
    margin-top: 20px;
}

#navigation button {
    background: none;
    color:black; 
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: underline;
    font-family: inherit; 
}

#navigation button:hover {
    color: black; 
    text-decoration: none;
}

#navigation button:focus {
    outline: none;
}